@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  color: #aaaaaa;
  overflow-x: hidden;
}
.the-button {
  background-color: #e02c6d;
  color: #fff;
  height: 44px;
  width: 196px;
  padding: 10px, 24px, 10px, 24px;
  border-radius: 41px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  margin-top: 16.1px;
  transition: width 2.5s linear;
}
.btn-icon {
  margin-left: 20px;
}

.the-button:hover {
  width: 250px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 50px;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo h2 {
  font-weight: bold;
  font-size: 24px;
  color: #3a3a3a;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 20px;
}

/* header section css */
.influence {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 133px;
  padding: 50px;
}
.influence-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.influence-left h1 {
  font-weight: bold;
  font-size: 52px;
  color: #3a3a3a;
  margin-bottom: 20px;
}
.influence-left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}
.influence-right {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  width: 475px;
  height: 475px;
}
.influence-right img {
  width: 440px;
  height: 414px;
  padding: 50px;
}

/* collection */
.collection {
  margin-top: 100px;
  text-align: center;
}
.collection h2 {
  display: inline-block;
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
  padding: 0 50px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 329px;
  height: 476px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.card img {
  width: 300px;
  height: 256px;
  margin-top: 14px;
}
.card-info {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0 14px;
}
.card-info h2 {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
}
.card-info h4 {
  font-weight: normal;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.fill-star {
  color: #fb8200;
}
.empty-star {
  color: #69666767;
}
.stars span {
  font-weight: bold;
  font-size: 14px;
  color: #5e6366;
}
.card-info p {
  font-weight: bold;
  font-size: 14px;
  color: #787885;
  margin-top: 27px;
}

.exa-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 30px;
}
.exa-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #e02c6d;
}
/* newsletter */
.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  padding: 0 50px;
}
.newsletter-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e02c6d;
  padding: 80px;
  color: #fff;
}
.newsletter-left h1 {
  font-weight: 500;
  font-size: 2.3em;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.newsletter-left h6 {
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  text-align: center;
  line-height: 1.3em;
  margin-bottom: 20px;
}
.input-field {
  display: flex;
}
.input-field input {
  width: 300px;
  height: 44px;
  border-radius: 41px 0 0 41px;
  border: none;
  background-color: #fff;
  padding: 0 20px;
  font-size: 14px;
  color: #3a3a3a;
  outline: 0;
}
.button {
  background-color: #fff;
  color: #e02c6d;
  height: 44px;
  width: 25px;
  margin-right: 20px;
  border-radius: 0 41px 41px 0;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  padding: 10px;
}
.button i {
  margin-left: -40px;
  text-align: center;
}

.newsletter-right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px;
  color: #fff;
  background-image: url(../images/newletter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.newsletter-right P {
  color: #fff;
}
.newsletter-right span {
  color: #e02c6d;
  font-weight: bold;
}

/* footer */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 239px;
  background: #0a0826;
  margin-top: 100px;
}
.info {
  margin-top: 50px 0 50px 0;
  text-align: center;
  color: #fff;
  line-height: 2;
}

.info h4 {
  font-weight: bold;
  font-size: 24px;
}
.fab {
  color: #fff;
  margin: 17px 16px;
  cursor: pointer;
}

/* responsive css */
@media (max-width: 950px) {
  .influence,
  .newsletter {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .influence-left {
    display: flex;
    order: 2;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter-left {
    order: 2;
  }
}

@media (max-width: 800px) {
  nav {
    justify-content: center;
  }
  .navigation {
    display: none;
  }
  .logo h2 {
    font-size: 20px;
  }

  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 600px) {
  .influence,
  .newsletter,
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .influence-right {
    background: none;
  }
  .influence-left h1 {
    font-size: 15px;
  }
  .newsletter-left h1 {
    font-size: 1.3em;
  }
}
